.godot/
bin/
obj/
.vs/
.idea/
publish/
Properties/
packages/

*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser
*.userprefs

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Ll]og/
[Ll]ogs/

*.dll
*.exe
*.pdb
*.cache
*.nupkg
*.snupkg
*.tmp
*.log
*.binlog

node_modules/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
[Dd]esktop.ini